@import url("vars.css");

.contact-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-input {
    background-color: transparent;
    border: 1px solid lightblue;
    height: 50px;
    padding: 5px;
}

.form-textarea {
    background-color: transparent;
    border: 1px solid lightblue;

    height: 150px;
    padding: 5px;
}

.form-input,
.form-textarea {
    color: var(--text-color);
    font-size: 16px;
    border-radius: 8px;
    transition: 0.3s ease;
    width: 500px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    

    &:focus {
        border-color: black;
        outline: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

.btn-secondary {
    background-color: var(--link-hover-color);
    color: var(--bg-color);
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;


}

.btn-secondary:hover {
    background-color: var(--text-color);
    transform: scale(1.03);
}