:root {
    --bg-color: hsl(190, 80%, 80%);
    --text-color: hsl(239, 90%, 20%);
    --secondary-color: hsl(240, 40%, 50%);
    --link-hover-color: hsl(110, 90%, 30%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #5fafcf;
    background: linear-gradient(180deg, rgba(95, 175, 207, 1) 0%,
            rgba(132, 191, 178, 1) 30%, rgba(165, 194, 174, 1) 50%,
            rgba(134, 176, 123, 1) 68%, rgba(156, 179, 125, 1) 83%,
            rgba(194, 194, 171, 1) 100%);
    color: var(--text-color);
    font-family: sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.2);
}


.logo {
    height: 70px;
    width: auto;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;

    h1 {
        color: rgb(20, 33, 33);
    }
}

.navigation {
    display: flex;
    gap: 20px;
}

.navigation li {
    list-style: none;
    font-size: 1.5rem;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(-2px);
    }

    40%,
    80% {
        transform: translateX(2px);
    }
}

.site-nav .nav-item i {
    color: aqua;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.site-nav .nav-item:hover i {
    animation: shake 0.6s ease-in-out;
    color: aqua;
}

.navigation li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s;
}

.navigation li a:hover {
    color: aqua;
}

.nav-item {
    display: flex;
    gap: 0.5rem;
}

.hero-section,
.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
    padding: 3rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 15px;

    .highlight {
        color: var(--link-hover-color);
    }
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--secondary-color);
}

.btn-primary {
    background-color: var(--link-hover-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    a {
        text-decoration: none;
        color: white;
    }

    &:hover {
        background-color: var(--text-color);
        transform: scale(1.05);
    }
}

.hero-img {
    height: 600px;
    width: auto;
}

.footer-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.footer-info {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 550;
}

.footer-social {
    font-size: 2rem;
    display: flex;
    gap: 20px;
}

.social-link {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
        color: var(--link-hover-color);
    }
}